@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu-regular.ttf');
}

body {
	font-family: arial;
	font-size: 14pt;
}

h1, h2, h3 {
	font-family: 'Ubuntu';
	font-size: 16pt;
	background-color: rgba(0,0,255,0.5);
}

h2, h3 {
	font-style: italic;
	color: yellow;
	background-color: rgba(0,0,255,0.5);
}

h1 {
	text-align: center;
}

h2 {
	text-align: right;
}

h3 {
	text-align: left;
}

p {	
	color: purple;
}
.fundo {
	background-color: pink;
	border: 1px solid;
}

.cor-fonte {
	color: green;
}

/*#paragrafo2:hover - faz mudar a cor do fundo*/
#paragrafo2 {
	background-image: url(imagens/fundo.jpg);
	color:green;
	background-size: cover;
	background-repeat: no-repeat;
}

#foto {
	width: 100px;
	height: 100px;
	border-radius: 50%
}

#div-foto {
	margin: auto;
	width: 100px;
}